@model List<QuickStartProject.WebUILayer.DTOs.FeatureDTOs.ResultFeatureDTO>
@{
    var details = Model.Take(2).ToList();
}
<section id="features-details" class="features-details section">
    <div class="container">
        @for (var i = 0; i < details.Count; i++)
        {
            var item = details[i];
            var isEven = (i % 2) == 1;
            <div class="row gy-4 justify-content-between features-item">
                <div class="col-lg-6 @(isEven ? "order-1 order-lg-2" : "")" data-aos="fade-up" data-aos-delay="100">
                    <img src="@item.ImageUrl" class="img-fluid" alt="">
                </div>
                <div class="col-lg-5 d-flex align-items-center @(isEven ? "order-2 order-lg-1" : "")" data-aos="fade-up" data-aos-delay="200">
                    <div class="content">
                        <h3>@item.Title</h3>
                        <p>@item.Description</p>
                        <a href="#contact" class="btn more-btn">Daha Fazla</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
